#panel
{
	width: 800px;
	margin: auto;
}
#scatterplot-para
{
	position: relative;
	text-align: center;
}
.faq-title
{
	margin-top: 2.5em;
}

#list a.refine
{
	background: none;
	display: block;
}
#list tr:hover a.refine
{
	background: transparent url("/img/refine_arr12.gif") no-repeat center right;
}
html .fb_share_link
{
	padding:2px 0 0 20px;
	height:16px;
	background-image: url(http://static.ak.fbcdn.net/images/share/facebook_share_icon.gif?0:26981);
	background-repeat: no-repeat;
	background-position: center left;
}
#footer
{
	clear: both;
}
.twitter-share-button
{
	vertical-align: middle;
}
