html
{
	font-family: "Lucida Grande", "Trebuchet MS", Arial, sans-serif;
	font-size: 9pt;
}

h1
{
	font-size: 14pt;
	padding: 1em 0 1em 60px;
	border-bottom: 1px dotted #ccc;
	margin-bottom: 2em;
	background: transparent url("../../img/mbl-icon.png") no-repeat left top;
}

h2
{
	font-size: 12pt;
}

th,
td
{
	padding: 2px 8px;
}

.row0
{
}
.row1
{
	background-color: #f9f9f9;
}

a:link,
a:visited
{
	color: #00f;
	text-decoration: none;
}
a img
{
	border: none;
}

a.external
{
	padding-right: 14px;
	background: transparent url("../../img/external12.gif") no-repeat center right;
}

a.refine
{
	padding-right: 14px;
	background: transparent url("../../img/refine_arr12.gif") no-repeat center right;
}

.info
{
	color: #999;
	font-size: 8pt;
}

p#credits
{
	text-align: center;
	padding-top: 1em;
	border-top: 1px dotted #ccc;
	margin-top: 2em;
}
p#validation-info
{
	position: absolute;
	right: 1em;
	top: 1em;
}
div#feeds
{
	float: right;
	margin-right: 2em;
}
a.rss
{
	padding-left: 14px;
	background: transparent url("../../img/rss.png") no-repeat left center;
}
a.discuss
{
	padding-left: 14px;
	background: transparent url("../../img/discuss.png") no-repeat left center;
}
a.question
{
	padding-left: 14px;
	background: transparent url("../../img/question.png") no-repeat left center;
}
a:hover
{
	background-color: #ff9;
}
div.relevance
{
	height: 10px;
	background: transparent url("../../img/relevance.png") repeat-x 0 0;
}
div.pager
{
	position: relative;
	height: 24px;
	margin: 10px 0;
}
p.pages
{
	display: block;
	position: absolute;
	height: 16px;
	width: 100%;
	padding: 4px 0;
	text-align: center;
	margin: 0;
	background: transparent url("../../img/pager-bg.png") no-repeat center center;
}
a.pager-next,
a.pager-previous
{
	display: block;
	position: absolute;
	height: 16px;
	margin: 4px 0;
}
a.pager-next
{
	right: 0;
}
a.pager-next:after
{
	content: ">";
}
a.pager-previous
{
	left: 0;
}
a.pager-previous:before
{
	content: "<";
}
form
{
	margin: 0;
}
input.pager-page
{
	text-align: right;
	height: 14px;
	width: 20px;
	margin-bottom: -2px;
}
th a.sort_header
{
	display: block;
}
th a.sort_down,
th a.sort_up
{
	padding-left: 16px;
	background: transparent url("../../img/sort_down.png") no-repeat center left;
}
th a.sort_up
{
	background-image: url("../../img/sort_up.png");
}

#disclaimer {
  text-align: center;
  color: #999;
}

.vcss {
  border: 0;
  width: 88px;
  height: 31px;
}

.hw_classes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.archive_info {
  flex: 1;
  min-width: 350px;
  padding: 10px;
  margin: 0 20px 20px 0;
  min-height: 175px;
}

.hw_class {
  @extend .archive_info;
  background-color: #eee;
  border-radius: 10px;

  ul {
    padding-left: 10px;
  }
}

.media {
  display: flex;
  align-items: flex-start;
}

.media-figure {
  margin-right: 1em;
}

.media-body {
  flex: 1;
}
